# App identity
APP_NAME=meeting_app



# backend
NODE_ENV=development
PORT=3000
ENABLE_SWAGGER=true


# mysql
DB_HOST=127.0.0.1
#DB_HOST=mysql
DB_PORT=3306
DB_USER=root
DB_PASSWORD=123456
DB_BASE=book_rooms_system


# 本地用 127.0.0.1 连接，docker 内部用 mysql 连接
REDIS_HOST=127.0.0.1
#REDIS_HOST=redis
REDIS_PORT=6379


# Auth
JWT_SEC=local_dev_secret_change_me


# Local Docker names
MYSQL_CONTAINER_NAME=bookstore_mysql_local
REDIS_CONTAINER_NAME=bookstore_redis_local


DOCKER_REPO=yangblue/test